.article-parge{
    padding: 45px 77px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*-- Image --*/

.article-image-box{
    display: flex;
    flex-direction: column;
}

.article-image{
    width: 504px;
    height: 504px;

    background-color: var(--grey);
    border-radius: 10px;
}

.article-image + div{
    display: flex;

    padding-top: 10px;
    gap: 10px;
}

.article-image + div img{

    max-width: 48px;
    max-height: 48px;

    width: 100%;
    height: 100%;

    background-color: var(--grey);
}

@media screen and (width <= 900px){
    .article-image{
        width: 252px;
        height: 252px;
    
        background-color: var(--grey);
        border-radius: 10px;
    }

    .article-image + div img{

        max-width: 24px;
        max-height: 24px;
    
        width: 100%;
        height: 100%;
    
        background-color: var(--grey);
    }
}

.article-page-left{
    display: flex;
    flex-direction: row;
}


/*--Text--*/



.acticle-name{
    font-weight: 600;
    font-size: 22px;
    color: var(--black);
}


.acticle-prices{
    font-weight: 600;
    font-size: 32px;
}

.small-article-text{
    font-weight: 400;
    font-size: 14px;
    color: var(--black);
}

.article-more-info div:last-child span{
    background-color: red;
}

/*/*/

.acticle-info-box{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 35px;
}

.acticle-info-box div:last-child{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.acticle-info-box div:last-child div{
    display: flex;
    flex-direction: column;
}

.select-taille{
    font-weight: 400;
    font-size: 12px;
    color: var(--grey);

    background-color: none;/*/*//*/*/
    border: 1px solid var(--grey);
    border-radius: 10.5px;

    display: flex;
    align-items: center;
}





