.article-parge{
    padding: 45px 77px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article-image-box{
    max-width: 504px;
    max-height: 504px;

    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.article-image{
    max-width: 504px;
    max-height: 504px;
    width: 100%;
    height: 100%;

    background-color: var(--grey);
    border-radius: 10px;
}

.article-image + div{
    display: flex;

    padding-top: 10px;
    gap: 10px;
}

.article-image + div img{

    max-width: 48px;
    max-height: 48px;

    width: 100%;
    height: 100%;

    background-color: var(--grey);
}

.article-page-left{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
