/* Font */
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background);
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

main{
}

/* Header */
header{
    width: 100%;
}

/*Start search-bar*/
.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F1F3F4;
    border-radius: 20px;
    align-items: center;
    flex-grow: 1;
    height: fit-content;
}

.search-bar div:first-child{
    display: flex;
    align-items: center;
    width:100%;
    gap : 12px;
    padding: 10px 15px;
}
.search-bar div:first-child input , .search-bar div:first-child input:focus {
    font-family: 'Roboto';
    display: flex;
    font-size: var(--medium);
    font-weight: 400;

    width: 100%;

    border: none;
    background: none;
    outline:  none;
}

.image-loupe{
    width: 20px;
    -webkit-user-select: none;
    user-select: none;
}

#recherche-button{
    height: 100%;

}

/*End search-bar*/


/*---------------------------navigation-link-header----------------------------------*/
.navigation-link-header-title{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: var(--medium);

    color: var(--black);
}

.navigation-link-header-desc{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: var(--very-small);

    color: var(--grey);
}


.link-to-home{
    background: none;
    border:none;

    -webkit-user-select: none;
    user-select: none;
    padding: 5px;
    transition: filter 0.1s;

    cursor: pointer;
}

.navigation-link-header{
    display: flex;
    flex-direction: row;
    gap: 11px;

    background: none;
    border: none;
    text-decoration:none;
    transition: filter 0.1s;
    padding: 5px;

    cursor: pointer;
}

.navigation-link-header:hover, .link-to-home:hover{
    filter: opacity(0.7);
}

.navigation-link-header:active, .link-to-home:active{
    filter: opacity(0.4);
}

.navigation-link-header div{
    display: flex;
    flex-direction: column;
    text-align: end;
}

.navigation-link-header img{
    width: 40px;
}
/* Button */

#button-rechercher{
    max-width: 114px;
    height: 40px;
    border-radius: 19.5px;
}

/*text*/
.important-text{
    font-weight: 500;
    font-size: var(--medium);
    color: var(--white);
    line-height: 19px;
}

.basic-text{
    color: var(--white);
    font-size: var(--small);
}

.produits-type-text{
    font-weight: 600;
    font-size: var(--big);
    line-height: 26px;
}

.produits-type-small-text{
    font-weight: 400;
    font-size: var(--medium);
    line-height: 19px;
}

.payment-title-text{
    font-weight: 600;
    font-size: var(--medium);
    line-height: 19px;
}

.payment-schearch-text{
    font-weight: 400;
    font-size: var(--very-small);
    line-height: 14px;
}

.payment-text{
    font-weight: 400;
    font-size: var(--small);
    line-height: 16.41px;
}

.text-weight-price{
    font-weight: 500;
}

.button{
    display: flex;
    padding: 0 16px;
    width: 100%;
    height: 33px;
    background-color: var(--red);
    border-radius:16.5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    transition: filter 0.2s;
}
.button:hover{
    filter: brightness(0.8);
}
.button:active{
    filter: brightness(0.6);
}
.small-size{
    max-width:116px;
}
.medium-size{
    max-width:148px;
}

.big-size{
    max-width: 867px;
}

/*Article*/

.boite_article{
    display: flex;
    background: #FFFFFF;
    border-radius: 10px;
    max-width: 292px;
    width: 100%;
    flex-direction: column;
}

.boite_article .image{
    height: 292px;
    background: #D9D9D9;
    border-radius: 10px;
    margin-bottom: 7px;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    object-fit: contain;
}

/*Article_panier*/
.article_rectangle{
    background: #FFFFFF;
    border-radius: 10px;
    width: 100%;
    height: 119px;
    display: flex;
    align-items: center;
}

.image_article_panier{
    background: #D9D9D9;
    border-radius: 10px;
    width:100%;
    height: 118px;
    display: flex;
    justify-content: flex-start;
}

.informations-article{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 17% 18% 6.5%;
    align-items: center;
    justify-content: flex-start;
}

.dispo_rect_article{
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 38px;
    display: flex;
    flex-direction: column;
}

.clickable{
    cursor:pointer
}


.quantity-size{
    max-width: 49px;
}

.quantity-size {
    position : relative;
    appearance: none;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cpath d='M4 5L0 0h8L4 5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 30%);
    background-position-y: 60%;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    width: 100%;
    padding: 2px 8px 3px 12px;
    border: 1px solid var(--dark-grey);
    border-radius: 10.5px;
    font-weight: 400;
    font-size: var(--small);
    line-height: 16px;
    color: var(--dark-grey);
    outline: none;
    transition: 0.2s border;
}


.quantity-size:hover {
    border: 1px solid var(--red);
}

.price2{
    font-weight: 600;
    font-size: var(--big);
    line-height: 26px;
    color: var(--dark-grey);
}

.cross{
    padding: 5px;
}
.cross:hover{
    filter: invert(15%) sepia(100%) saturate(4162%) hue-rotate(347deg) brightness(114%) contrast(87%);
}
/*-------------------------------------------------------------*/

.header-down{
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    padding: 1px 77px 1px 77px;
}


.header-down-link{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    padding: 6px;
}

.header-down div a{
    background: none;
    border: none;

    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 6px;

    text-decoration:none;
    transition: filter 0.1s;

    cursor: pointer;
}

.header-down div a:hover{
    filter: brightness(0.8)
}

.header-down div a:active{
    filter: brightness(0.6)
}



.header-down div a span{
    color: var(--white);

    font-family: 'Roboto';
    font-weight: 400;
    font-size: var(--small);
}

.header-down div a img{
    height: 16px;
    width: 16px;
}

.horizontal-line{
    height : 33px;
}

/*-------------------------------------------------------------*/

.header-top{
    display: flex;
    flex-direction: row;
    gap: 62px;

    padding: 15px 64px 15px 77px;
    
}

.header-top div:last-child{
    display: flex;
    flex-direction: row;
    gap: 8px;
}


.medium-important-text{
    font-size: var(--medium);
    font-weight: 500;
}

.bas_article{
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 14px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.stars{
    gap: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.stars img{
    -webkit-user-select: none;
    user-select: none;
}

.availablity{
    display: flex;
    flex-direction: row;
    gap: 4px;;
}

.price{
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.02em;
}

.green{
    color: var(--green);
}

.grey{
    color:var(--grey)
}

.dark-grey{
    color:var(--dark-grey);
}

.price-btn{
    margin-top: 6px;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 57px;
}

/* Section title and header-products */
#header-products{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-products-btn{
    display: flex;
    text-decoration: none;
    gap: 7px;
    align-items: center;
    font-size: var(--medium);
    color: var(--black);
    text-align: end;
    transition: filter 0.2s;
}
.header-products-btn:hover{
    filter: invert(43%) sepia(13%) saturate(211%) hue-rotate(150deg) brightness(94%) contrast(90%);
}

.section-title{
    display: flex;
    flex-direction: column;
}
.section-title-name{
    font-size: var(--big);
    font-weight: 500;
}
.section-title-results{
    font-size: var(--small);
}

/* Footer */
footer{
    padding: 30px 74px;
    background-color: var(--black);
    display: flex;
    color: var(--white);
    width: 100%;
    bottom: 0;
    gap: 4.69%;
}
#footer-logo{
    align-self: baseline;
}
.footer-box-container{
    margin: 0 10px;
    width: max-content;
}
.footer-box-title{
    font-size: var(--medium);
    font-weight: medium;
    margin-bottom: 2px;
}
.footer-box{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--white);
    padding-top: 7px;  
    gap: 30px;
}
.footer-box ul{
    gap: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}
.footer-box li{
    list-style: none;
    width: 100%;
    display: flex;
    line-height: var(--small);
}
.footer-box li a{
    font-size: var(--small);
    text-decoration: none;
    color: var(--white);
    width: 100%;
    white-space: nowrap;
}
.footer-box li a:hover{
    text-decoration: underline;
}
#payment-methods-images{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}
/* max-width: 1005px Footer */
@media screen and (max-width: 1005px) {
    footer{
        padding: 30px 5%;
        gap: 0;
        justify-content: space-between;
    }
}

/* Media Queries Mobile */
@media screen and (max-width: 768px) {
    /* Header */
    .header-top{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        padding: 10px 15px;
    }
    .header-down{
        padding: 0;
        overflow-x: scroll;
    }
    .header-down a {
        width: max-content;
    }
    .header-down img{
        display: none;
    }
    #shopping-cart-text{
        display: none;
    }
    .navigation-link-header{
        gap: 5px;
    }
    .search-bar{
        order: 3;
    }
    .link-to-home{
        height: 40px;
        width: max-content;
    }
    .link-to-home img{
        height: 100%;
    }
    .header-top div:last-child{ 
        margin: 0 0 0 auto;
        height: 40px;
        gap: 0;
    }
    .navigation-link-header img{
        height: 100%;
    }
    .navigation-link-header-title{
        font-size: var(--small);
    }
    .navigation-link-header-desc{
        font-size: var(--very-small);
    }
    /* Footer */
    footer{
        gap: 25px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    /* Products title */
    .header-products-btn{
        font-size: var(--very-small);
    }
    .section-title-name{
        font-size: var(--medium);
    }
    .section-title-results{
        font-size: var(--very-small);
    }
}
