/* General */
body{
    background-color: var(--background);
}

.barre-de-recherche{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F1F3F4;
    border-radius: 20px;
    align-items: center;
}

.barre-de-recherche div{
    padding: 10px;
}

.image-loupe{
    width: 20px;
}